$button-height : 40px;
$button-width : 30%;

.button{
  height: $button-height;
  width: $button-width ;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #f1f1f1;
  font-weight: bold;

  margin-bottom: 5%;
}
.button:hover{
  background-color: #cecece;
}
.button:focus{
  border-color: #0771FF;
  background-color: #ffffff;
  outline: none
}
.button:active{
  background-color: #ffffff;
  height:$button-height * 1.1;
  width: $button-width * 1.1;
  outline:none;
  transition:height 0s;
}
