@import './flexboxgrid.min';
@import './flex-tags.scss';
@import './elements/index.scss';

$break-small: 600px;
$container-padding: 12vw;
*{
}

.body{
  height: 100%;
  background: #f7f7f7;
}
#app{
  height: 100%;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.row,div[class^="col-"]{
  height: 100%;
  max-width: 100%;
  margin-left: 0;
  padding: 0;
}

.login{
  height: 100vh;
}
@media screen and (max-width: $break-small) {
    #app{
      padding-left: $container-padding/3;
      padding-right: $container-padding/3;
    }
  }
